# db configuration
DB_NAME=mydatabase
DB_USER=user
DB_PASSWORD=password
DB_PORT=5432
DB_HOST=db

# tg bot token
TG_BOT_TOKEN=

# other configurations
PORT=4000
BASE_URL=http://localhost:4000

# env, development or production
NODE_ENV=production
