
# db configuration
DB_NAME=mydatabase
DB_USER=user
DB_PASSWORD=password
DB_PORT=5432
DB_HOST=localhost

# telegram bot token
TG_BOT_TOKEN=asdasd

# other configurations
PORT=4000

# env, development or production
NODE_ENV=development
